[submodule "Utils/MiniF3/01LED"]
	path = Utils/MiniF3/01LED
	url = https://github.com/9cats-submodule/F3_01LED.git
[submodule "Utils/MiniF3/02LCD"]
	path = Utils/MiniF3/02LCD
	url = https://github.com/9cats-submodule/F3_02LCD.git
[submodule "Utils/MiniF3/03TOUCH"]
	path = Utils/MiniF3/03TOUCH
	url = https://github.com/9cats-submodule/F3_03TOUCH.git
[submodule "Utils/MiniF3/04RNF24L01"]
	path = Utils/MiniF3/04RNF24L01
	url = https://github.com/9cats-submodule/F3_RNF24L01.git
[submodule "Utils/MiniF3/04RNF24L01_NOTOUCH"]
	path = Utils/MiniF3/04RNF24L01_NOTOUCH
	url = https://github.com/9cats-submodule/F3_04RNF24L01_NOTOUCH.git
[submodule "Utils/MiniF4/01LED"]
	path = Utils/MiniF4/01LED
	url = https://github.com/9cats-submodule/F4_01LED.git
[submodule "Utils/MiniF4/02LCD"]
	path = Utils/MiniF4/02LCD
	url = https://github.com/9cats-submodule/F3_01LED.git
[submodule "Utils/MiniF4/03TOUCH"]
	path = Utils/MiniF4/03TOUCH
	url = https://github.com/9cats-submodule/F4_03TOUCH.git
[submodule "Utils/MiniF4/04RNF24L01"]
	path = Utils/MiniF4/04RNF24L01
	url = https://github.com/9cats-submodule/F4_04RNF24L01.git
